{% extends 'template.twig' %}

{% block content %}
<title>{{ product.name }}</title>

<div class="alert alert-success" role="alert">
<p>Product {{ product.name }} successfully bought</p>
</div>
    {% endblock %}
